@model List<ResumeProjectDemoNight.Entities.Category>

<ul class="portfolio-filter list-inline wow fadeInUp">
    <li class="current list-inline-item" data-filter="*">Tümü</li>

    @foreach (var item in Model)
    {
        <li class="list-inline-item" data-filter=".cat-@item.CategoryId">
            @item.CategoryName
        </li>
    }
</ul>
